# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# IDEs and Editors
.idea/
.run/
.vscode/

# Environments and Package Managers
.env
.venv
venv/
.pixi/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage / linters
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

# Local / temp
*.log
*.tmp
